/CuentaBancaria/nbproject/private/
/CuentaBancaria/build/
/Programa Nespresso-Ejercicio 6/nbproject/private/
/Programa Nespresso-Ejercicio 6/build/
/Personas.Ejercicio 7/nbproject/private/
/Personas.Ejercicio 7/build/
/Array. Ejercicio 10/nbproject/private/
/Array. Ejercicio 10/build/
/Date.Ejercicio11/nbproject/private/
/Date.Ejercicio11/build/
/PersonaDate.Ejercicio12/nbproject/private/
/PersonaDate.Ejercicio12/build/